<!-- 
	Put the skeleton HTML for your Landing page here
	DO NOT include <html>, <head>, or <body> tags
	
	(don't remove the parent div)
-->

<div>
	<script type="text/template" id="template_landing">
	
		<!-- core landing page html -->
        <header>
            <img src="../img/Logo.png" alt="Logo" class="mainlogo">
            <div class="login">
                <input id="user" type="text" class="login" autocomplete="on" placeholder="Username" required="true"/>
                <input id="pwd" type="password" class="login" autocomplete="off" placeholder="Password" required="true"/>
                <button id="login_btn" type="submit">Login</button>
            </div>
        </header>
        <img src="../img/aionimage.jpg" id="test" alt="Picture of the Greek God Aion">
        <h2 class="intro">Aion, adeptly named after the Greek god of eternity, is an industry rst time management site dedicated to the freelance industry. The site allows users to manage their time in an eective and seamless manner. Users can add projects, tasks associated with those projects; client lists among many other amazing features.</h2>
        <section>
            <aside class="join">
                <h1>Why use Aion?</h1>
                <ul>
                    <li>ITS FREE!!!</li>
                    <li>Access Anywhere!</li>
                    <li>Alerts for upcoming tasks!</li>
                    <li>iCal or Google Calendar integration</li>
                    <li>Pease of mind!</li>
                    <li>Guaranteed spot on America's Next Top Model semi-finalist competition.</li>
                </ul>
                <a href="#openModal"><input type="button" name="SIGN UP NOW!" value="SIGN UP NOW!"></a>
            </aside>
            <article class="cta">
                <img id="ss1" src="../img/CTA1.png" alt="screenshot of features 1">
                <img id="ss2" src="../img/CTA2.png" alt="screenshot of features 2">
                <img id="ss3" src="../img/CTA3.png" alt="screenshot of features 3">
            </article>
        </section>
        <footer>
            <img src="../img/Logo.png" alt="Logo" class="mainlogo">
            <ul>
                <li><a href="http://www.google.com/intl/en/policies/terms/">Terms of Service</a></li>
                <li><a href="http://en.wikipedia.org/wiki/FAQ">FAQ</a></li>
                <li><a href="mailto:DCarroll@fullsail.edu">Contact Us</a></li>
                <li><a href="http://www.google.com/policies/privacy/">Privacy Policy</a></li>
            </ul>
            <img src="../img/social.png" alt="Social Media Icons">
        </footer>
        <div id="openModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <h2>Register Now, It's free and easy</h2>
                <input type="text" class="register" required="true" placeholder="TheMostUniqueUserNameEver">
                <input type="password" class="register" required="true" placeholder="Password">
                <input type="email" class="register" required="true" placeholder="Email">
                <input type="submit" name="Register" value="Register">
            </div>
        </div>
	
	</script>
</div>